:host {
  .header {
    margin-bottom: 20px;

    position: fixed;
    z-index: 3;
  }

  .logo {
    margin-left: 10px;
  }

  .logo .img {
    width: 50px;
  }

  .link {
    color: #ffffff;
    font-size: large;
  }

  :not(:last-child) {
    margin-right: 30px;
  }
}
