<mat-toolbar color="primary" class="header">
  <a routerLink="/recipes" class="navbar-brand link">Recipe Book</a>
  <a routerLink="/recipes" class="link">Recipes</a>
  <a routerLink="/shopping-list" class="link">Shopping list</a>
</mat-toolbar>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes" >Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
      </ul>
    </div>
  </div>
</nav> -->
