<mat-toolbar color="primary" class="header px-0">
  <div class="container">
    <div>
      <a routerLink="/" class="mr-4">
        <img src="assets/images/recipes.png" width="50" alt="Website logo" />
      </a>

      <a routerLink="/recipes" class="link mr-4">Meals</a>

      <a routerLink="/areas" class="link mr-4">Areas</a>

      <a routerLink="/categories" class="link mr-4">Categories</a>

      <a routerLink="/ingredients" class="link mr-4">Ingredients</a>

      <a routerLink="/shopping-list" class="link">Shopping list</a>
    </div>
    <div>
      
    </div>
  </div>
</mat-toolbar>
