<footer class="footer">
  <mat-list class="list">
    <div>
    <mat-list-item class="list-item">
      <a href="#" class="link">
        Terms of service
      </a>
    </mat-list-item>
    <mat-list-item class="list-item">
      <a href="#" class="link">
        Privacy policy
      </a>
    </mat-list-item>
  </div>
  <div>
    <mat-list-item class="list-item">
      <button class="link link-btn" (click)="openFeedbackForm()">
        Got Feedback?
      </button>
    </mat-list-item>
    <mat-list-item class="list-item">
      <a href="#" class="link">
        Copyrights &copy;
      </a> 
    </mat-list-item>
  </div>
  </mat-list>
</footer>