:host {
  .form-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      width: 525px;
    }
  }

  .form-field {
    margin-bottom: 10px;
  }

  .form-img {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .add-ingredient-btn {
    margin-top: 10px; 
    width: 150px; 
    height: 36px;
  }

  .dialog-actions {
    padding-bottom: 20px; 
    padding-right: 24px;
  } 
}
