<form>
  <div class="input-container">
    <mat-icon>search</mat-icon>
    <input type="text"
           placeholder="Meal name..."
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           class="form-input">
  </div>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="submit()">
        {{option}}
      </mat-option>
    </mat-autocomplete>
</form>