:host{
  .spinner {
    margin-right: auto;
    margin-left: auto;
  }
  
  .card {
    padding: 16px;
    margin-bottom: 30px;
  }

  .card-header {
    align-items: center;
    background-color: #fff;
  }
  
  .image {
    object-fit: contain;
    max-height: 300px;
  }

  .list-item {
    height: 30px;
  }
}