<mat-spinner *ngIf="!meal" class="spinner"> </mat-spinner>
<mat-card class="card">
  <img
    [src]="mealImageUrl"
    alt="{{ meal?.name }}"
    class="image"
    onerror="this.src = 'assets/images/recipes.png'"
  />
  <mat-card-header class="card-header">
    <mat-card-title>{{ meal?.name }}</mat-card-title>
    <button
      mat-icon-button
      class="ml-3"
      (click)="onAddToShoppingList()"
      color="primary"
      matTooltip="Add ingredients to the shopping list"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="py-3">
      <mat-list-item
        class="list-item px-0"
        *ngFor="let ingredient of meal?.ingredients"
      >
        <span matListItemLine
          >{{ ingredient.ingredient }} - {{ ingredient.amount }}</span
        >
      </mat-list-item>
    </mat-list>
    <p>Instructions</p>
    <p></p>
    <p>{{ meal?.instructions }}</p>
  </mat-card-content>
</mat-card>
<!-- <mat-card-actions>
  <button mat-icon-button
          (click)="onEditRecipe()"
          matTooltip="Edit recipe">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button
          color="warn"
          (click)="onDeleteRecipe()"
          matTooltip="Delete recipe">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card-actions> -->
