<footer class="footer mt-3">
  <mat-list class="list container" *transloco="let t; read: 'footer'">
    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ t('service') }}
      </a>
    </mat-list-item>
    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ t('policy') }}
      </a>
    </mat-list-item>
    <mat-list-item class="list-item">
      <button class="link link-btn" (click)="openFeedbackForm()">
        {{ t('feedback') }}
      </button>
    </mat-list-item>
    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ t('copyrights') }} &copy;
      </a> 
    </mat-list-item>
  </mat-list>
</footer>