<footer class="footer mt-3">
  <mat-list class="list container"
            *transloco="let translate; read: 'footer'">

    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ translate('service') }}
      </a>
    </mat-list-item>

    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ translate('policy') }}
      </a>
    </mat-list-item>

    <mat-list-item class="list-item">
      <button class="link link-btn"
              (click)="openFeedbackForm()">
        {{ translate('feedback') }}
      </button>
    </mat-list-item>

    <mat-list-item class="list-item">
      <a href="#" class="link">
        {{ translate('copyrights') }} &copy;
      </a>
    </mat-list-item>
  </mat-list>
</footer>
