:host {
  .table {
    margin-bottom: 30px;
  }

  .table td {
    text-align: center;
    vertical-align: middle;
  }

  .table th {
    text-align: center;
    vertical-align: middle;
  }

  .table tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  .table tr:nth-child(n):hover {
    background-color: #d7d7d7;
  }
}
