<button
  *ngIf="selection.selected.length !== 0"
  mat-fab
  color="primary"
  class="done-btn"
  (click)="deleteAll()"
  matTooltip="Delete selected ingredients"
>
  <mat-icon>done_all</mat-icon>
</button>

<app-shopping-edit [editedIngredient]="editedItem"></app-shopping-edit>
<hr />
<div *transloco="let t; read: 'shopList'">
  <mat-table mat-table matSort [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="mediaChange">{{ t('select') }}:&nbsp;</span>
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)"
          [aria-label]="checkboxLabel(element)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('position') }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="mediaChange">{{ t('position') }}&nbsp;</span>
        {{ dataSource.data.indexOf(element) + 1 }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t('ingredient') }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="mediaChange">{{ t('ingredient') }}:&nbsp;</span>
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ t('amount') }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="mediaChange">{{ t('amount') }}:&nbsp;</span>
        {{ element.amount }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="mediaChange">{{ t('actions') }}:&nbsp;</span>
        <button mat-button [matMenuTriggerFor]="menu" matTooltip="More actions">
          <mat-icon style="margin: 0">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            type="button"
            matTooltip="Edit ingredient"
            (click)="editItem(element.id)"
          >
            <mat-icon color="primary">edit</mat-icon> {{ t('edit') }}
          </button>
          <button
            mat-menu-item
            type="button"
            matTooltip="Delete ingredient"
            (click)="deleteItem(element.id, element.name)"
          >
            <mat-icon color="warn">delete</mat-icon> {{ t('delete') }}
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row">
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ active: editedItem?.name === row.name }"
    ></mat-row>

    <tr *matNoDataRow>
      <td colspan="5" style="border: 0">
        {{ t('noData') }}
      </td>
    </tr>
  </mat-table>
  <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
