:host {
  .done-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
  }

  .table {
    margin-bottom: 30px;
    width: 100%;
  }

  mat-row:nth-child(2n) {
    background-color: #eeeeee;
  }

  mat-row:nth-child(n):hover {
    background-color: #d7d7d7;
  }

  mat-row.active > mat-cell  {
    background-color: #d0ddfc;
  }

  mat-cell, 
  mat-header-cell {
    justify-content: center;
    padding: 0;
  }

  @media screen and (max-width: 473px) {
      mat-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      mat-cell {
        justify-content: space-between;
        padding-left: 10px;   
        padding-right: 10px;   
      }

      .header-row {
        display: none;
      }
  }
}