<section class="section">
  <h1 class="title">{{ category }}</h1>
  <mat-card *ngFor="let meal of meals" class="mb-3">
    <a [routerLink]="'../../meals/'+ meal.id">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">
          {{ meal.name }}
        </mat-card-title>
        <img
          class="card-image"
          src="{{ meal.imageUrl }}/preview"
          alt="{{ meal.name }}"
          width="60"
        />
      </mat-card-header>
    </a>
  </mat-card>
</section>
