:host {
  .section {
    padding-bottom: 20px;
  }

  .title {
    text-align: center;
  }

  .card-header {
    padding-bottom: 16px;
  }

  .card-title {
    color: #000;
  }

  .card-image {
    margin-left: auto;
  }
}