<section>
  <h2 class="title">Best Ingredients</h2>
  <mat-list>
    <mat-list-item
      *ngFor="let ingredient of bestIngredients"
      class="mb-3"
    >
      <a [routerLink]="['/ingredients/'+ ingredient.idIngredient]" class="link">
        <img
          width="50"
          class="mr-3 ingredient-image"
          src="{{ingredient.imageUrlSmall}}"
          alt="{{ ingredient.strIngredient }}"
        />
        {{ ingredient.strIngredient }}
      </a>
    </mat-list-item>
  </mat-list>
</section>
