:host {
  .card {
    padding: 16px;

    @media screen and (max-width: 575px) {
      margin-top: 30px;
    }
  }

  .spinner {
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-header {
    padding-top: 0px;
    align-items: center;
    background-color: transparent;
    border: 0;
  }

  .card-description {
    max-height: 300px;
    overflow: auto;
  }
}