<mat-card class="card" [@insertRemoveTrigger]="ingredient ? 'open' : 'closed'">
  <mat-spinner *ngIf="!ingredient" 
    class="spinner">
  </mat-spinner>
  <img
    src="{{ingredient?.imageUrl}}"
    alt={{ingredient?.name}}
    width="150"
    class="image"
  />
  <mat-card-header>
    <mat-card-title>{{ingredient?.name}}</mat-card-title>
    <mat-card-subtitle class="card-description">
      {{ingredient?.description || "No description"}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>