<section>
  <h2 class="section-title">Our recomendations</h2>
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="8px">
    <a routerLink="/meals/{{randomMeal?.idMeal}}">
      <mat-grid-tile 
        class="recomendations-grid-item text" 
        style="background-image: url('{{randomMealImageUrl}}')"
      >
        <h3>Random Meal</h3>
      </mat-grid-tile>
    </a>
    <a routerLink="/ingredients/best">
      <mat-grid-tile class="recomendations-grid-item text"
        style="background-image: url('https://www.themealdb.com/images/ingredients/Chicken.png')"
      >
        <h3>Best ingredients</h3>
      </mat-grid-tile>
    </a>
    <a routerLink="/areas">
      <mat-grid-tile class="recomendations-grid-item text">
        <h3>Popular in your area</h3>
      </mat-grid-tile>
    </a>
  </mat-grid-list>
</section>
<section class="mt-5">
  <h2 class="section-title">Categories</h2>
  <mat-grid-list cols="5" rowHeight="3:1" gutterSize="5px">
    <a *ngFor="let category of categories; let i = index" routerLink="/categories/{{category}}">
      <mat-grid-tile 
        class="category-grid-item text"
        style="background-image: url('{{categoryImageUrls[i]}}')"
      >
        <h3>{{category}}</h3>
      </mat-grid-tile>
    </a>
  </mat-grid-list>
</section>
