:host {
  .card {
    margin: 1px;
    // width: 286px;
    cursor: pointer;
  }

  .header {
    padding: 16px;
  }

  .card:hover {
    background-color: #eeeeee;
  }

  .card-img {
    max-width: 80px;
    margin-left: auto;
    border-radius: 0;
  }
}
