<button
  mat-fab
  color="primary"
  (click)="onNewRecipe()"
  class="add-btn"
  matTooltip="Add a new recipe"
>
  <mat-icon>add</mat-icon>
</button>

<div class="row">
  <div class="col-xs-12">
    <mat-nav-list role="list" class="list">
      <mat-list-item
        role="listitem"
        class="item"
        *ngFor="let recipeEl of recipes"
        [ngClass]="{ active: recipeEl.id === recipeId }"
        [activated]="recipeEl.id === recipeId"
      >
        <app-recipe-item
          [recipe]="recipeEl"
          (recipeId)="getRecipeId($event)"
        ></app-recipe-item>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
