:host {
  .row {
    justify-content: center;
  }

  .form-field {
    width: 100%;
  }

  .scroll-viewport {
    height: 60vh;
  }

  .list-item {
    height: 50px;
  }

  .link {
    color: #000;
  }
}
