<div class="row">
  <section class="section col-sm-6">
    <form>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Ingredient name..."
          [formControl]="ingredientControl"
        />
      </mat-form-field>
    </form>
    <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
      <mat-list>
        <mat-list-item
          *cdkVirtualFor="let ingredient of filteredResult | async"
          class="mb-3 list-item"
        >
          <a [routerLink]="ingredient.id" class="link">
            <img
              width="50"
              class="mr-3"
              src="{{ ingredient.imageUrlSmall }}"
              alt="{{ ingredient.name }}"
            />
            {{ ingredient.name }}
          </a>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </section>
  <section class="col-sm-6">
    <router-outlet></router-outlet>
  </section>
</div>
