<section class="section">
  <h1 class="title">Ingredients</h1>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let ingredient of ingredients; templateCacheSize: 0" 
      class="example-item">
        {{ingredient.strIngredient}}
    </div>
    <!-- <mat-card *cdkVirtualFor="let ingredient of ingredients" class="mb-3 example-item">
      <a [routerLink]="'../../meals/'+ ingredient.idIngredient">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title">
            {{ ingredient.strIngredient }}
          </mat-card-title>
          <img
            class="card-image"
            src="{{ meal.strMealThumb }}/preview"
            alt="{{ meal.strMeal }}"
            width="60"
          />
        </mat-card-header>
      </a>
    </mat-card> -->
  </cdk-virtual-scroll-viewport>
</section>
