/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

.mat-sort-header-container {
  justify-content: center;
  padding-left: 20px;
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #f44335;
    // --mat-mdc-snack-bar-button-color: #fff;
    // --mdc-snackbar-supporting-text-color: #fff;
  }
  &.success {
    --mdc-snackbar-container-color: #52c543;
  }

  & .mdc-button__label {
    color: #fff;
  }
}

.best-ingredient-grid-tile .mat-grid-tile-content,
.areas-grid-list .mat-grid-tile-content {
  justify-content: start;
}

.table>tbody>tr.active>td {
  background-color: #d0ddfc;
}