<form [formGroup]="ingredientForm"
      (ngSubmit)="submit()"
      #form="ngForm"
      class="form"
      *transloco="let t; read: 'shopList.form'">
  <mat-form-field class="input-field">
    <mat-label>{{ t('name') }}</mat-label>
    <input matInput
           type="text"
           formControlName="name" 
           [matAutocomplete]="auto"/>
    <mat-error *ngIf="
        ingredientForm.controls?.name?.touched &&
        ingredientForm.controls?.name?.errors?.required
      ">
      {{ t('nameRequired') }}
    </mat-error>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let ingredient of filteredResult | async" [value]="ingredient">
        {{ingredient}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>{{ t('amount') }}</mat-label>
    <input matInput
           type="number"
           formControlName="amount" />
    <mat-error *ngIf="
        ingredientForm.controls?.amount?.touched &&
        ingredientForm.controls?.amount?.errors?.required
      ">
      {{ t('amountRequired') }}
    </mat-error>
    <mat-error *ngIf="
        ingredientForm.controls?.amount?.touched &&
        (ingredientForm.controls?.amount?.errors?.min ||
        ingredientForm.controls?.amount?.errors?.max)
      ">
      {{ t('amountInvalid') }}
    </mat-error>
  </mat-form-field>

  <div class="btn-box">
    <button mat-icon-button
            color="primary"
            [disabled]="!ingredientForm.valid"
            matTooltip="Add ingredient">
      <mat-icon>{{ editedIngredient ? "done" : "add" }}</mat-icon>
    </button>
    <button mat-icon-button
            type="button"
            color="warn"
            (click)="deleteItem()"
            *ngIf="editedIngredient"
            matTooltip="Delete ingredient">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button
            type="button"
            [disabled]="!ingredientForm.dirty && !editedIngredient"
            matTooltip="Clear form"
            (click)="clear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>