:host {
  .input-field {
    height: 75px;
    margin-right: 10px;
  }
  
  .form {
    margin-top: 20px;
  }
/* 
  .form.ng-submitted.ng-untouched label{
    color: rgba(0, 0, 0, 0.6);
  }

  .form.ng-submitted.ng-untouched div::before{
    border-bottom-color: rgba(0, 0, 0, 0.6);
  }
  .form.ng-submitted.ng-untouched div::after{
    border-bottom-color: rgba(0, 0, 0, 0.6);
  } */
  
  .btn-box {
    display: inline; margin-left: 20px;
  }
  
  .btn-box:not(:last-child) {
    margin-right: 5px;
  }
}
